<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames Room</title>
    <link rel="stylesheet" href="/frontend/views/css/createRoom.css">
</head>
<body>
    <div class="header">
        <div class="room-info">
            <img src="../images/Polytech_HORIZ_dijon.png" alt="">        
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h1>Welcome to Polynames</h1>
            <div class="room-entry">
                <form action="">
                    <p>To enter the room, choose a nickname.</p>
                    <input type="text" id="nickname">
                    <p>To enter the room, choose a role.</p>
                    <input type="text" id="role">
                    <button class="create-room">Create Room</button>   
                </form>

            </div>
            <div class="newsletter">
                <p>Keep me informed about new features and Codenames news:</p>
                <input type="email" id="email" placeholder="Enter your e-mail">
                <button id="subscribe">Subscribe</button>
            </div>

        </div>
    </div>
    <script src="../js/createRoom.js"></script>
</body>
</html>