<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polynames Online</title>
    <link rel="stylesheet" href="/frontend/views/css/welcome.css">
</head>
<body>
    <div class="header">
        <div class="room-info">
            <img src="../images/Polytech_HORIZ_dijon.png" alt="">        
    </div>
        </div>
    <div class="container">
        <header>
            <h1>POLYGAMES</h1>
            <p>Play with your friends.</p>
        </header>
        <button class="create-room-button">CREATE ROOM</button>
        <div class="instructions">
            <h2>How to play:</h2>
            <ol>
                <li>Click on the CREATE ROOM button.</li>
                <li>Select the preferred game settings and start the game.</li>
                <li>Connect with your friends</li>
                <li>Share the room URL with your friends.</li>
            </ol>
        </div>
        <!--div class="characters">
            <img src="/views/images/jeu1.jpg" alt="Character 1" class="character-left">
            <img src="/views/images/jeu1.jpg" alt="Character 2" class="character-right">
        </div-->
    </div>
    <script src="/frontend/views/js/welcome.js"></script>
</body>
</html>